@use '../../../style/variables.scss' as v;
@use '../../../style/mixins.scss' as m;
@use '../../../style/functions.scss' as f;

.basketPayment {
  margin-top: f.rem(20);
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  gap: f.rem(20);
}

.promocode {
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-shadow: 0px 0px 35.4254px rgba(163, 163, 163, 0.25);
  border-radius: 14px;
  padding: f.rem(40) f.rem(100);
}

.titlePromocode {
  color: #222222;
  font-weight: 900;
  font-size: f.rem(22);
  line-height: f.pr(22, 27.46);
  margin-bottom: f.rem(20);
}

.textPromocode {
  max-width: f.rem(422);
  color: #222222;
  font-size: f.rem(14);
  line-height: f.pr(14, 18.2);
  margin-bottom: f.rem(30);
}

.promo {
  width: 100%;
  height: f.rem(49);
  background: #FCFCFC;
  border: 1px solid #F6F6F6;
  border-radius: 4px;
  margin-bottom: f.rem(30);
  font-size: f.rem(14);
  line-height: f.pr(14, 16.48);
  padding-inline: f.rem(40);
}

.promocodeBtn {
  width: 100%;
  height: f.rem(49);
  background: #FFF7E1;
  border: 1px solid v.$yellow;
  border-radius: 4px;
  color: v.$yellow;
  font-weight: 600;
  font-size: f.rem(18);
  line-height: f.pr(18, 21.47);
  transition-property: background-color border;
  transition-duration: 0.5s;
  cursor: pointer;

  &:hover {
    background-color: #ffe9ac;
    border: 0.708508px solid #c99102;
  }
}

.total {}