@use '../../../style/variables.scss' as v;
@use '../../../style/mixins.scss' as m;
@use '../../../style/functions.scss' as f;

.socialNetworks {
  min-height: f.rem(721);
}

.header {
  display: flex;
  gap: f.rem(30);
  align-items: center;
  justify-content: flex-start;
  margin-block: f.rem(20) f.rem(16);
}

.title {
  font-weight: 900;
  font-size: f.rem(35);
  line-height: f.pr(35, 43.68);

}

.headerImg {
  width: f.rem(60);
  height: f.rem(60);
}

.wrapper {
  display: grid;
  grid-template-columns: 0.63fr 1.2fr;
}

.img {
  background: url('../../../images/socialNetworks/iphones.png') no-repeat;
  background-size: contain;
  background-position: center;
}

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: f.rem(15);
  column-gap: f.rem(15);
  overflow: hidden;
}