@use '../../style/variables' as v;
@use '../../style/mixins' as m;
@use '../../style/functions' as f;

.header {
  height: f.rem(113);
  // border: 1px solid;

  // .header__nav
  // &__nav {}

  // .header__icons
  &__icons {
    display: flex;
    gap: f.vw(40);
    padding-inline: f.rem(10);
  }

  // .header__icon
  &__icon {
    width: f.rem(22);
    height: f.rem(22);
  }
}

.heder {

  // .heder__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: f.rem(20);
    padding-bottom: f.rem(13);
  }
}



.logo {
  width: f.rem(179);
  height: f.rem(80);
}

.nav {

  // .nav__list
  &__list {
    display: flex;
    gap: f.vw(60);
  }

  // .nav__item

  &__item {
    a {
      line-height: 100%;
      color: #000;
      text-decoration: none;
    }
  }
}