@use '../../style/variables.scss' as v;
@use '../../style/mixins.scss' as m;
@use '../../style/functions.scss' as f;

.header {
  height: f.rem(113);
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0px 3.54254px 14.1702px rgba(157, 157, 157, 0.25);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: f.rem(20);
  padding-bottom: f.rem(13);
}

.navList {
  display: flex;
  gap: f.vw(60);
}

.navItem {
  a {
    position: relative;
    line-height: 100%;
    color: #000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline #F9B300 !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 10px !important;
  }

}

.icons {
  display: flex;
  gap: f.vw(40);
  padding-inline: f.rem(10);
}

.icon {
  width: f.rem(22);
  height: f.rem(22);

  img {
    height: 100%;
  }
}