@use '../../style/variables.scss' as v;
@use '../../style/mixins.scss' as m;
@use '../../style/functions.scss' as f;

.header {
  height: f.rem(113);
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0px 3.54254px 14.1702px rgba(157, 157, 157, 0.25);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: f.rem(20);
  padding-bottom: f.rem(13);
}

.navList {
  display: flex;
  gap: f.vw(60);
}

.navItem {
  a {
    position: relative;
    line-height: 100%;
    color: #000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline #F9B300 !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 10px !important;
  }

}

.icons {
  display: flex;
  gap: f.vw(40);
  padding-inline: f.rem(10);
}

.icon,
.iconActive {
  width: f.rem(22);
  height: f.rem(22);
  cursor: pointer;
  position: relative;
}

.iconActive {
  width: f.rem(22);
  height: f.rem(22);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -15px;
  background: #F9B300;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: f.rem(12.76);
  line-height: f.pr(12.76, 15.43);
}

.activeSearch {
  max-width: f.rem(850);
  width: f.vw(850);
  height: f.rem(42);
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
  border-radius: 30px;
  color: #C4C4C4;
  font-weight: 500;
  line-height: 130%;
  font-size: f.rem(16);
  padding-left: f.rem(72);
  background: url('../../images/header/search-active.png') 30px no-repeat;

  &:focus {
    outline: none;
  }
}