@use 'variables.scss' as v;
@use 'mixins.scss' as m;
@use 'functions.scss' as f;
@import-normalize;
@import '../fonts/Gilroy/fonts.scss';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: initial;
  // text-decoration: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  // max-height: 100%;
  height: auto;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: f.rem(18);
  background: url('../images/bg1.png') top right no-repeat,
    url('../images/bg2.png') top f.rem(800) left no-repeat,
    url('../images/bg3.png')50% 2040px/100% 27% no-repeat,
    url('../images/bg4.png')50% 3820px/100% 28% no-repeat;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: v.$maxWidthContainer + 30px;
  padding: 0 f.rem(15);
  margin: 0 auto;
  position: relative;
}

.logo {
  width: f.rem(179);
  height: f.rem(80);
}

.active-header {
  text-decoration: underline v.$yellow !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 10px !important;
}

.active-contacts {
  background: #FFF7E1 !important;
  border: 0.705321px solid v.$yellow !important;
  border-radius: 4px !important;
}

.active-nav {
  svg * {
    stroke: v.$yellow;
  }
}


.coffeeCatalog {
  background: #F5F5F5;

  overflow: hidden;
}

.catalog {
  background: url('../images/Catalog Coffee/bg1.png') 0 0/100% no-repeat, #FFF7E1;
}

.teaCatalog,
.wendingProducts,
.healthyDiet {
  background: url('../images/TeaCatalog/bg1.png') 0 0/100% no-repeat,
    url('../images/Catalog Coffee/bg2.png') 0px 700px/100% auto no-repeat,
    #fff;
  overflow: hidden;
}

.blog {
  background: url('../images/Blog/bg1.png') 0 4160px/100% no-repeat, #fff;
}

.contacts {
  background: url('../images/Contacts/bg1.png')0 500px/100% no-repeat, #fff;
}

.basket {
  background: url('../images/Basket/bg1.png')0 0/100% no-repeat, #fff;
}