@use 'variables.scss' as v;
@use 'mixins.scss' as m;
@use 'functions.scss' as f;
@import-normalize;
@import '../fonts/Gilroy/fonts.scss';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: initial;
  // text-decoration: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  // max-height: 100%;
  height: auto;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: f.rem(18);
  background: url('../images/bg1.png') top right no-repeat,
    url('../images/bg2.png') top f.rem(800) left no-repeat,
    url('../images/bg3.png')50% 2040px/100% 1427px no-repeat,
    url('../images/bg4.png')50% 3820px/100% 28% no-repeat;

  @media screen and (max-width:1030px) {
    background: url('../images/bg1.png') top right no-repeat,
      url('../images/bg2.png') top f.rem(800) left no-repeat,
      url('../images/bg3.png')center 2340px/100% 1427px no-repeat,
      url('../images/bg4.png')50% 3820px/100% 28% no-repeat;
  }

  @include m.netbook {
    background: url('../images/bg1.png') top right no-repeat,
        url('../images/bg2.png') top f.rem(800) left no-repeat,
        url('../images/bg3.png')center 2640px/100% 1427px no-repeat,
        url('../images/bg4.png')50% 3820px/100% 28% no-repeat;
  }

  @include m.tablet {
    background: url('../images/bg1.png') right 60px/250px 30% no-repeat,
      url('../images/bg2.png') -140px 1500px/50% 30% no-repeat,
      url('../images/bg3.png')50% 2640px/100% 45% no-repeat,
      url('../images/bg4.png')50% 3820px/100% 28% no-repeat;
  }

   @media screen and (max-width:600px) {
    background: url('../images/bg1.png') right 60px/250px 30% no-repeat,
        url('../images/bg2.png') -140px 1500px/50% 30% no-repeat,
        url('../images/bg3.png')50% 2640px/100% 55% no-repeat,
        url('../images/bg4.png')50% 3820px/100% 28% no-repeat;
   }

  @include m.phone {
    background:
      url('../images/bg1.png') right 60px/100px 20% no-repeat,
      url('../images/bg2.png') left 1090px/20% 30% no-repeat,
      url('../images/bg3.png')50% 2000px/100% 40% no-repeat,
      url('../images/bg4.png')50% 3820px/100% 28% no-repeat;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: v.$maxWidthContainer + 30px;
  padding: 0 f.rem(15);
  margin: 0 auto;
  position: relative;
  // overflow: hidden;
}

.logo {
  width: f.rem(179);
  height: f.rem(80);
}

.active-header {
  text-decoration: underline v.$yellow !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 10px !important;
}

.active-contacts {
  background: #FFF7E1 !important;
  border: 0.705321px solid v.$yellow !important;
  border-radius: 4px !important;
}

.active-nav {
  svg * {
    stroke: v.$yellow;
  }
}

.coffeeCatalog {
  background: #F5F5F5;
  overflow: hidden;
}

.catalog {
  background: url('../images/Catalog Coffee/bg1.png') 0 0/100% no-repeat, v.$white;
}

.teaCatalog,
.wendingProducts,
.healthyDiet {
  background: url('../images/TeaCatalog/bg1.png') 0 0/100% no-repeat,
    url('../images/Catalog Coffee/bg2.png') 0px 700px/100% auto no-repeat,
    v.$white;
  overflow: hidden;
}

.blog {
  background: url('../images/Blog/bg1.png') 0 4160px/100% no-repeat, v.$white;
}

.contacts {
  background: url('../images/Contacts/bg1.png')0 500px/100% no-repeat, v.$white;
}

.basket {
  background: url('../images/Basket/bg1.png')0 0/100% 779px no-repeat, v.$white;
}

.coffee {
  background: url('../images/Coffee/bg1.png')50% 0px/100% 57% no-repeat, v.$white;
}

// .catalog-slider {
//   .slick-list {
//     padding-block: f.rem(50) !important;
//   }

//   .slick-slide {
//     box-shadow: 0px 0px 30px rgba(146, 146, 146, 0.2);
//     background: v.$white;
//     border-radius: f.rem(20);
//   }

//   .btn {
//     width: 100%;
//     height: f.rem(70);
//     opacity: 0;
//     background: v.$yellow;
//     border-radius: 5px;
//     font-weight: 700;
//     font-size: f.rem(25);
//     line-height: f.ratio(25, 30.22);
//     color: v.$white;
//     cursor: pointer;
//     transition-property: transform opacity;
//     transition-duration: 0.5s;

//     a {
//       text-decoration: none;
//       font-weight: 700;
//       font-size: f.rem(25);
//       line-height: f.ratio(25, 30.22);
//       color: v.$white;

//       @media screen and (max-width:580px) {
//         font-size: f.rem(20);
//         line-height: f.ratio(20, 25.22);
//       }
//     }

//     &:hover {
//       background-color: v.$darkYellow;
//     }
//   }

//   .slick-active {
//     transform: scale(1.1);
//   }

//   .slick-active .btn {
//     opacity: 1;
//   }
// }

// .catalog-dots {
//   display: flex !important;
//   gap: f.rem(30);
//   justify-content: center;
//   margin-top: f.rem(35);

//   @include m.phone {
//     gap: f.rem(15);
//   }

//   & li {
//     position: relative;
//     display: inline-block;
//     width: 20px;
//     height: 20px;
//     margin: 0 5px;
//     padding: 0;
//     cursor: pointer;
//   }

//   & li button {
//     font-size: 0;
//     line-height: 0;
//     display: block;
//     width: 20px;
//     height: 20px;
//     padding: 5px;
//     cursor: pointer;
//     color: transparent;
//     border: 0;
//     outline: none;
//     background: transparent;
//   }

//   & li button:before {
//     font-family: 'slick';
//     line-height: 20px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 20px;
//     height: 20px;
//     content: '•';
//     text-align: center;
//     color: #E9E9E9;
//     font-size: f.rem(25);
//     opacity: 1;

//     @include m.phone {
//       font-size: f.rem(13);
//     }
//   }

//   & li.slick-active button:before {
//     opacity: 1;
//     color: v.$yellow;
//   }
// }