@use '../../style/variables.scss' as v;
@use '../../style/mixins.scss' as m;
@use '../../style/functions.scss' as f;

.footer {
  min-height: f.rem(153);
  padding-top: f.rem(30);
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  gap: f.rem(100);

  a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: f.rem(18);
    line-height: f.pr(18, 29);
  }

  a:hover {
    text-decoration: underline #F9B300 !important;
    text-decoration-thickness: 2px !important;
    text-underline-offset: 10px !important;
  }
}