.slick-next:before,
.slick-prev:before {
  position: relative;
  left: 40px;
  content: url('../../../images/Discount Goods/next.png') !important;
  opacity: 1 !important;
  display: block;
  width: 49px;
  height: 49px;
}

.slick-prev:before {
  position: relative;
  left: -65px;
  content: url('../../../images/Discount Goods/prew.png') !important;
}

.discount-slider {
  .slick-list {
    padding: 33px 7px 7px 7px !important;
  }
}