@use '../../style/variables.scss' as v;
@use '../../style/mixins.scss' as m;
@use '../../style/functions.scss' as f;

.news {
  min-height: f.rem(715);
  border: 1px solid red;
}

.container {
  margin-top: f.rem(135);
  border: 1px solid;
}